 
  <button type="button" class="btn " (click)='onCreate()'>Create</button>
 <table class="table">
     <thead>
         <tr><th>Id</th><th>Name</th><th>Sex</th><th>Age</th><th>Hobby</th><th>Operate</th></tr>
         <tr *ngFor='let employee of employees'>
           <td>{{employee.Id}}</td> 
           <td>{{employee.Name}}</td>
           <td>{{employee.Sex}}</td>
           <td>{{employee.Age}}</td>
           <td>{{employee.Hobby}}</td>    
           <td  >
            <button type="button" class="btn" (click)='onGotoDetail(employee.Id)'>Detail</button>
            <button type="button" class="btn" (click)='onDelete(employee.Id)'>Delete</button>
           </td>  
         </tr>
     </thead>
 </table>
 