 
 
    <div class="form-group">
        <label for="name">name:</label>
        <input type="text" class="from-control" id='name' [(ngModel)]='model.Name'>
    </div>
    <div class="form-group">
        <label for="sex">sex:</label>
        <label for="male" class="radio-inline"> <input type="radio" value="男" id='male'   [(ngModel)]='model.Sex'>男</label>
        <label for="female" class="radio-inline"> <input type="radio" value="女" id="female"   [(ngModel)]='model.Sex'>女</label>
       
    </div> 
    <div class="form-group">
        <label for="age">age:</label>
          <input type="number" class="from-control" id='age' [(ngModel)]='model.Age'>
     
    </div>
    <div class="form-group">
         <label for="hobby">hobby:</label>
         <select name="hobby" id="hobby" class="form-control" [(ngModel)]='model.Hobby'>
             <option *ngFor='let hobby of hobbies' [value]="hobby">{{hobby}}</option>
         </select>
    </div>
     
    <div class="form-group" [hidden]='!!model.Id'><button type="button" class="btn" (click)='onSave()'>Save</button></div>
    <div class="form-group" [hidden]='!model.Id'> 
         <button type="button" class="btn" (click)='onUpdate()' >Update</button> 
         <button type="button" class="btn" (click)='onDelete()' >Delete</button>
    </div>
   
 
